@font-face {
    font-family: NeueHass;
    src: url(fonts/NeueHaasDisplay-Roman.ttf);
}

html,body{
    background-image:url(backgrounds/background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

#contentbar {
    width: 90px;
    height: auto;
    right: 0;
    position: absolute;
    top: 5%;
    z-index:10;
    display: flex;
    margin-right: 2%;
    flex-direction: column;
}

#menu{
    align-items: center;
    cursor: pointer;
    height:auto;
    z-index:1000000;
    text-align: center;
    margin-bottom: 40%;
}

#icon {
    width: 100px;
}

h1{
    font-size: 10pt;
    color: white;
    cursor:pointer;
    font-family: NeueHass;   
}
  
#main-container{
    width: auto;
    top: 5%;
    cursor:move;
    left: 5%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
}

#main-container-2{
    width: auto;
    top: 10%;
    cursor:move;
    left: 10%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
}

#main-container-3{
    width: auto;
    top: 40%;
    left: 30%;
    cursor:move;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
}

#main-container-4{
    width: auto;
    top: 10%;
    left: 10%;
    cursor:move;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
}

#main-container-5{
    width: auto;
    top: 10%;
    left: 10%;
    cursor:move;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.container{
    background-image: url(document.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 390px;
    width: 300px;     
}

#text-block{
    vertical-align: center;
    position: absolute;
    font-family: NeueHass;
    align-items:center;
    justify-content:center;
    margin-top: 30%;
    line-height: 120%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12pt;
}

#caption {
    color: white;
    text-align: center;
    bottom: 0%;
    font-family: NeueHass;
}

element{
    border: none;
    color: blue;
    border-bottom:  1px solid blue;
    display: inline-block;
    line-height: 0.90;
    background: none;
    font-family: NeueHass;
    margin: 0;
}

element:hover{
   opacity: 0.5;
   cursor: pointer;
}







  
  